body{
    background-color: rgb(215, 215, 215);
}
button{
  border-radius: 45px;
  border-width: 3px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font: bold 20px medium, Arial;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: gainsboro;
  border-style: solid; 
  box-shadow: none !important;
  outline: none !important;
  border-color: gray;
}
#screen{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(
  170deg,
  gainsboro 15%,  
  rgb(255, 0, 0) 15%,
  rgb(255, 0, 0) 15.9%,
  rgb(192, 0, 0) 16%,
  rgb(192, 0, 0) 25%,
  transparent 25%,
  transparent 75%,
  rgb(255, 0, 0) 75%,
  rgb(255, 0, 0) 75.9%,
  rgb(192, 0, 0) 76%,
  rgb(192, 0, 0) 85%,
  transparent 85%,
  transparent
);

}
#panel{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  border: 5px, solid, brown;
  border-radius: 45px;
  background-color: rgb(163, 162, 162);
}

#scorecount{
font: bold 20px medium, Arial;
font-family: "Segoe UI", Arial, sans-serif;
}